<div class="nav-res-container">
    <nav id="nav-res">
        <h2 class="logo">Pizza Di Mama</h2>
        <ul class="nav-menu">
            <a id="reservations-link" href="/reservations"><li class="nav-menu-active">Reservations</li></a>
            <a id="takeaway-link" href="/takeaway"><li>Take Away</li></a>
            <a id="orderHome-link" href="/order-home"><li>Order Home</li></a>
            <a id="menu-link" href="/menu"><li >Menu</li></a>
            <a id="custom-link" href="/custom"><li>Custom</li></a>
            <a id="" href="/logout"><li>Logout</li></a>
        </ul>
    </nav>
</div>